body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}

.screen-start {
    text-align: center;
}

.ending-screen {
    text-align: center;
}
.timer {
    text-align: right;
}
button {
    color: white;
    border-color: purple;
    background-color: purple;
    font-bold: bold
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}

