body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hidden {
    display:none;
}

.start {
    text-align: center;
}

.scores {
    top: 20%;
    left: auto;
}

.time {
    top: 20%;
    left: auto;
}

.choices button {
    display: block;
}

button {
    font-family: 'Courier New', Courier, monospace;
    display: block;